body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.wrapper {
    height: 800px;
    background: #000 url(../images/slider.jpg) center center no-repeat;
}


/*----------Шапка сайта----------*/

.header__logo {
    float: left;
    margin-left: 98px;
    margin-top: 63px;
}

.menu {
    float: right;
    margin-left: 50px;
}

.menu__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
}

.menu__list li {
    float: left;
    margin-top: 47px;
    margin-right: 20px;
}

.menu__link {
    display: block;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    transition: all 0.1s;
}

.menu__link--active {
    border-bottom: 2px solid #212121;
    text-shadow: 1px 0 0 #212121;
    color: #212121;
}

.menu__link:hover {
    border-bottom: 2px solid #212121;
    text-shadow: 1px 0 0 #212121;
    color: #212121;
}

.search {
    float: right;
    margin-top: 63px;
    margin-right: 167px;
    cursor: pointer;
}
